{% extends "base.html" %}

{% block content %}

	<h2>Welcome {{username}}. You are now logged in.</h2>
	{% csrf_token%}
	<pre>
	Click <a href="/accounts/logout/">here</a> to log out.
	Click <a href="/admin/add_partner/">here</a> to add a partner organization.
	Click <a href="/admin/add_student/">here</a> to add a student.
	Click <a href="/admin/add_faculty/">here</a> to add a faculty member.
	Click <a href="/admin/add_course/">here</a> to add a course.
	Click <a href="/admin/">here</a> to go to site administration.
	</pre>

{% endblock %}