{% extends 'base.html' %}

{% block content %}
<div class="col-md-3"> </div>
<div class="col-md-6 EZ_col">
<center>
<h1>Submit Hours Report</h1>
<form method='POST' action='' class="container EZ_container EZ_Hoursform">
	{% csrf_token %}
	{{form.as_p}}
<div class="EZ_submitrow">
	<input class="btn btn-success" type='submit' value="Save Report" action="">
	<input class="btn btn-warning" type='cancel' value="Cancel" action="" onclick="window.history.back()">
</div>
</form>
</center>
</div>

{% endblock %}
